<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
	<title>Home</title>
	<% include ../partials/links %>
</head>
<%	include ../partials/bodytag	%>

	<% include ../partials/header %>
	<% include ../partials/menu %>

	<hr>

	

	<div align="center">
		<table width="95%" cellpadding="20">
			<tr>
				<td width="50%" valign="top">
					<font face="Courier New, monospace">
						<h2>Welcome to RetroHub!</h2>
					</font>
					<font face="garamond, times, serif">
						<p>
							Retro RSS Reader
						</p>
					</font>
				</td>
				<td width="50%" valign="top">
					<font face="Courier New, monospace">
						<h2>Another column</h2>
					</font>
					<font face="garamond, times, serif">
						Hi
					</font>
				</td>
		</table>
	</div>

<% include ../partials/footer %>
	
</body>
</html>