<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<%	include ../partials/csslinks	%>
</head>
<body>

	<% include ../partials/navbar %>
	

	<div class="container">
		<div class="jumbotron">
			
			<br>
			<h2>Welcome to RetroHub!</h2>
			
			<hr>

			<p>
				This website is all about content sharing.
				What you're viewing right now is the "Normal"
				version of the site, which is built using
				modern HTML5, CSS, and JavaScript.<br>
				<br>
				Note: this is in a highly alpha stage!
				Feel free to make an account and post;
				only mind the mess while everything is
				in testing and development.<br>
				<br>
				<a href="/lofi">Check out RetroHub "LoFi" Edition for a retro-compatible version of this site!</a>
			</p>

		</div>
	</div>


	<%	include ../partials/jslinks	%>

</body>
</html>