<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<% include ../partials/links %>
</head>
<%	include ../partials/bodytag	%>

	<%	include ../partials/header	%>
	<%	include ../partials/menu	%>

	<hr>

	<font face="Courier New, monospace">
		<h2>Register a new RetroHub user account</h2>
	</font>

	<font face="fixedsys, Chicago, courier, monospace">
		<form action="/users" method="POST">
			Your username (unique, non-case-sensitive, should be all lowercase):<br>
			<input type="text" name="username" placeholder="Username"></input><br>
			Your email address (must be a valid email address):<br>
			<input type="email" name="email" placeholder="Email"></input><br>
			Your name (this will be the name that is displayed on your profile page):<br>
			<input type="text" name="displayname" placeholder="Your name (display name)"></input><br>
			Your password (for your own privacy, pick a strong password):<br>
			<input type="password" name="password" placeholder="Password"></input><br>
			Enter your password again, just to be sure:<br>
			<input type="password" name="password2" placeholder="Password again"></input><br>
			Anti-spambot check: What was the model number of the original IBM PC?<br>
			<input type="text" name="ibmpc" placeholder="Google it if you don't know"></input><br>
			<input type="submit" value="Submit"></input><br>
		</form>
	</font>

	<a href="/">Back to home</a>

<% include ../partials/footer %>

</body>
</html>