<div align=center>
	
		<table width=620px>
			<tr>
				<!-- <td align="left"><font face="Courier New, monospace" size=-1><i><b>RetroHub LoFi Edition <font color=red>ALPHA</font></b></i></font> -->
				<td><h1 align="center">
						<a href="/home"><img src="/siteimages/retro95.gif" alt="Retro RSS Reader" border="0"></a>
						<font face="Fixedsys Excelsior 3.01, fixedsys, Courier New, monospace"><span class="fixedsys">Retro RSS Reader</span></font>
					</h1>
				<td align="right"><font face="Courier New, monospace" size=-1><i><b><%=session.messages.userwelcome%>
					<%	if (session.logged)	{	%>
							<br><font size=-2><a href="/users/<%=session.curuserid%>/edit">Account Settings</a><br><a href="/users/<%=session.curuserid%>">Your User Profile</a></font>
					<%	}								%>
				</b></i></font>
			</tr>
		</table>
</div>

<!-- <h1 align="center">
	<font face="Courier New, monospace">RetroHub</font>
</h1> -->
<!--Maybe the above, later on, will be an image-->